.container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 100px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to bottom right, blue, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
