.cardbody{
    width: 100%;
    height: 300px;
    display: flex;
    padding: 0px 20px;
    border-radius: 10px;
}
.cardimage{
    width: 20%;
    height: 300px;
    margin: 0 0px 10px 10px;
    border-radius: 10px;
}
.cardvideo{
    display: block;
    width: 60%;
    height: 300px;
    margin: 0 10px 10px 10px;
    border-radius: 10px;
}
.cardbrochure{
    width: 20%;
    height: 300px;
    margin: 0 10px 10px 0px;
    border-radius: 10px;
}