.videowrapperwrapper{
    max-width: 50%;
}
.imagewrapperwrapper{
    max-width: 23%;
}

.videowrapper {
    aspect-ratio: 16 / 9;
    border: 2px solid rgb(161, 136, 171);
    border-radius: 15px;
    margin: 15px 30px;
    vertical-align: middle;
    max-width: 90%;
  }
  .borderradius{
    border-radius: 15px;
  }

  .imagewrapper {
    height: 100%;
    width: 100%;
    margin: 15px 0px;
    border: 2px solid rgb(161, 136, 171);
    border-radius: 15px;
  }
