.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(244, 230, 254);
  gap: 30px;
}
  
.form input{
  padding: 5px;
  background-color: rgb(219, 228, 246);
  color: rgb(63, 68, 109);
  border: 1px solid black;
  border-radius: 5px;
}

.form input::placeholder {
  color: rgb(63, 68, 109);
  opacity: 1; /* Firefox */
}

.form input::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgb(219, 228, 246);
}



.form button{
  padding: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(9, 9, 57);
  color: rgb(210, 191, 234);
  font-weight: bold;
  border: 1px solid rgba(237, 219, 245, 0.811);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(237, 219, 245, 0.336);
}