@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(251, 219, 255) no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  background-color: rgb(251, 219, 255);
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
