.container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper{
    width: 500px;
    background-color: rgb(132, 89, 185);
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    border-radius: 10px;
  }
  
  .github{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }